In [1]:
import pandas as pd
df = pd.read_csv("salaries.csv")
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [2]:
inputs = df.drop("salary_more_then_100k", axis="columns")
target = df["salary_more_then_100k"]

In [5]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [6]:
inputs['Company'] = le.fit_transform(inputs["company"])
inputs['Job'] = le.fit_transform(inputs["job"])
inputs['Degree'] = le.fit_transform(inputs["degree"])

In [7]:
inputs.head()

  company                  job     degree  Company  Job  Degree
0  google      sales executive  bachelors        2    2       0
1  google      sales executive    masters        2    2       1
2  google     business manager  bachelors        2    0       0
3  google     business manager    masters        2    0       1
4  google  computer programmer  bachelors        2    1       0

In [10]:
inputs.drop(["company","job","degree"],axis="columns",inplace=True)

In [16]:
inputs

    Company  Job  Degree
0         2    2       0
1         2    2       1
2         2    0       0
3         2    0       1
4         2    1       0
5         2    1       1
6         0    2       1
7         0    1       0
8         0    0       0
9         0    0       1
10        1    2       0
11        1    2       1
12        1    0       0
13        1    0       1
14        1    1       0
15        1    1       1

In [12]:
from sklearn import tree

In [14]:
model = tree.DecisionTreeClassifier()

In [15]:
model.fit(inputs,target)

DecisionTreeClassifier()